.match-container-container {
  background-color: var(--secondary-color);
  padding: 20px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 20px;
}