:root {
  --primary-color: rgb(30, 37, 43);
  --secondary-color: rgb(38, 45, 52);
  --ternary-color: rgb(44, 53, 61);
  --text-color: lightgray;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

p {
  margin: 0;
}

.plain-link {
  text-decoration: none;
  color: inherit;
}

input:focus::placeholder {
  color: transparent;
}